Dockerfile
.dockerignore
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.prettierignore
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
tests
playwright.config.ts
TODO
.env.*
vite.config.js.timestamp-*